<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
      lang="ko">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    상세보기
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">번호</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" class="form-control"
                               th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">수정일</span>
                        <input type="text" class="form-control"
                               th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd')}" readonly>
                    </div>

                    <div class="my-4">
                        <div class="float-end" th:with="link = ${reqDTO.getLink()}">
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-success">목록보기</button>
                            </a>
                            <a th:href="|@{'/board/modify/'+ ${dto.bno}(${link})}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">수정하기</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--댓글 영역 시작-->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">댓글 등록</button>
            </div>
            <ul class="list-group replyList">

            </ul>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging">

                </ul>
            </div>
        </div>
    </div>
    <!--댓글 영역 끝-->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reply.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">

    const bno = [[${dto.bno}]]

    function printReplies(page,size,goLast){
        getList({bno, page, size, goLast}).then(
            data => {console.log(data)}
        ).catch( e=>{
            console.error(e)
        })
    }

    printReplies(1,10)

</script>
