<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
      lang="ko">

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    등록
                </div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" name="title" class="form-control" placeholder="제목 입력">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea name="content" class="form-control col-sm-5" rows="5"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <!-- 로컬 사용자일 경우 (UserDetails) -->
                            <input type="text" class="form-control" name="writer"
                                   th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"
                                   th:value="${#authentication.principal.name}"
                                   readonly>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-success">목록보기</button>
                                </a>
                                <button type="submit" class="btn btn-primary">확인</button>
                                <button type="reset" class="btn btn-secondary">리셋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script layout:fragment="script" th:inline="javascript">
        const auth = [[${#authentication.principal}]]
        console.log(auth)

        const errors = [[${errors}]]
        console.log(errors)

        let errorMsg = ""

        if (errors) {
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }


    </script>
</div>