<th:block th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyWebsite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" th:href="@{/}">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" th:href="@{/about}">회사소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products" th:href="@{/products}">제품소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart" th:href="@{/cart}">장바구니</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" th:href="@{/login}">회원가입(로그인)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
