<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

#request #response #session #servletContext는 사용 하지 마세요.
왜!! 보안이 걸려 있다.
ModelAttribute를 사용해서 하시오.
<ul>
    <li> response = <span th:text="${#ctx.request.getParameter('name')}"></span></li>
    <li> response = <span th:text="${#ctx.contextPath}"></span></li>
    <li> session = <span th:text="${#ctx.session.sessionData}"></span></li>
    <li> servletContext = <span th:text="${#ctx.contextPath}"></span></li>
    <li> locale = <span th:text="${#locale}"></span></li>

    <li><span th:text="${localDateTime}"></span></li>
    <li><span th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd')}"></span></li>
    <li><span th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd/a')}"></span></li>
    <li><span th:text="${#temporals.month(localDateTime)}"></span></li>
    <li><span th:text="${#temporals.monthName(localDateTime)}"></span></li>
    <li><span th:text="${#temporals.dayOfWeek(localDateTime)}"></span></li>

</ul>

<div th:object="${dto}">
    <p>p1의값 : <span th:text="*{p1}"></span></p>
    <p>p1의값 : <span th:text="*{p2}"></span></p>
    <p>p1의값 : <span th:text="*{p3}"></span></p>

</div>

</body>
</html>