<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/layout.html}"
        lang="en">


<div layout:fragment="content">
    <h1>여기는 ex3.html 내용 들어 가는 자리</h1>
    <button id="btn1" class="btn btn-primary">클릭하장</button>
</div>

<th:block layout:fragment="script">
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            document.getElementById("btn1").addEventListener("click", ()=>{
                alert("1페이지 버튼 클릭")
            })
        })
    </script>

</th:block>